.trendingCategories_container {
    margin-top: 2rem;
}

.trendingCategories_container h2 {
    margin-bottom: 1rem;
}

.categories_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}