.gameList_container {
    overflow-y: scroll;
    max-height: 250px;
}

.loading_text {
    color: var(--link_color);
    padding: 1rem;
    animation: flashEffect 1s ease-in-out infinite alternate;
}

@keyframes flashEffect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}