.featured_container {
    background-color: var(--purple_color);
    flex: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.featuredTitle {
    margin-top: 2rem;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 1rem;
}

.featuredPlatforms {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featuredPlatforms > h3 {
    margin-bottom: .8rem;
    flex: 0 0 100%;
    font-size: 1.4rem;
}

.featuredPlatforms > span {
    margin: 0 .5rem .5rem .5rem;
    background-color: rgba(0, 0, 0, .1);
    padding: .5rem;
    border-radius: 1rem;
}

.featuredImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuredImage > img {
    width: 100%;
    height: 100%;
}

.featuredImage.loading_image::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: transparent;
    border-top: 3px solid white;
    border-radius: 50%;
    z-index: 3;
    animation: loadingSpin .5s linear infinite forwards;
}

.featuredImage.loading_image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    background-size: cover;
    z-index: 2;
}

@keyframes loadingSpin {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-90deg);
    }

    66% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}