.sign_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}

.sign_container.reverse {
    justify-content: flex-start;
    flex-direction: row-reverse;
    justify-content: center;
}

.signup_btn, .signin_btn {
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 0 .5rem;
    height: fit-content;
}

.signin_btn {
    background-color: transparent;
    color: var(--text_color);
    border: 1px solid transparent;

}
.signup_btn {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.sign_container.reverse .signup_btn {
    color: var(--text_color);
    border: none;
    background-color: var(--bg_card_color);
    box-shadow: 1px 10px 10px rgba(0, 0, 0, .1);
}

@media screen and (max-width: 410px) {
    .signin_btn, .signup_btn {
        padding: .5rem;
    }
}