.hero_container {
    background-color: var(--bg_card_color);
    width: 100%;
    flex: 33%;
    padding: 3rem 1.5rem;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_title {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.hero_title span {
    font-size: 3.8rem;
}

.hero_subtitle {
    margin: 2.5rem 0;
}

.hero_subtitle span {
    font-weight: bold;
    border-bottom: 3px solid var(--purple_color);
    border-radius: -10px;
    padding-bottom: .3rem;
}