.category_container {
    background-color: var(--bg_card_color);
    flex: 20%;
    margin: 0 1rem 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.category_container.hover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.category_container.hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange_color);
    border-radius: 1rem;
    opacity: .4;
    z-index: 2;
}

.category_container .index_category {
    color: var(--link_color);
    position: relative;
    z-index: 3;
    background-image: none !important;
}

.category_container.hover .index_category {
    color: white;
}

.category_container .index_category::before {
    content: '/';
    position: absolute;
    color: var(--purple_color);
    top: -5px;
    left: -10px;
    z-index: 3;
}

.category_container .name_category {
    position: relative;
    margin: .5rem 0;
    z-index: 3;
    background-image: none !important;
}

.category_container i {
    position: relative;
    z-index: 3;
    background-image: none !important;
}

@media screen and (max-width: 650px) {
    .category_container {
        flex: 25%;
    }
}

@media screen and (max-width: 400px) {
    .category_container {
        flex: 100%;
        margin-right: 0;
    }
}