.panel_container {
    background-color: var(--bg_card_color);
    flex: 33%;
    border-radius: 0 1rem 1rem 0;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel_container > ol {
    list-style: none;
    height: 100%;
    width: 100%;
}

.panel_container > ol > li {
    margin-bottom: 1rem;
}

.panel_container > ol > li > p > span {
    color: var(--link_color);
}

.panel_container > ol > li:last-child {
    margin-bottom: 0;
}