.panel_container {
    background-color: var(--bg_card_color);
    flex: 33%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
}

ol {
    list-style: decimal-leading-zero;
}