.navbar_container {
    flex: 1 1 35%;
}

.navbar_container ul {
    display: flex;
    list-style: none;
}

.navbar_container ul li a {
    text-decoration: none;
    color: #5B5D5F;
    padding: 0 1rem;
    position: relative;
}

.navbar_container ul li a.active {
    color: #975AF1;
}