.navbar_container {
    flex: 1 1 35%;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    color: var(--link_color);
    padding: 0 1rem;
}

.navbar ul li a.active {
    color: var(--purple_color);
}

#darkmode {
    margin: 0 .5rem;
    cursor: pointer;
}

#icon_menu {
    display: none;
    margin-right: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #icon_menu {
        display: block;
    }

    .navbar_container {
        flex: 0;
    }

    .navbar {
        background-color: var(--bg_color);
        position: absolute;
        top: 45px;
        left: 0;
        padding: 1rem 1.5rem;
        transition: all .3s;
        z-index: -1;
        opacity: 0;
    }

    .navbar.show {
        top: 90px;
        z-index: 1;
        opacity: 1;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
    }

    .navbar ul li {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        width: 100vw;
    }
}

@media screen and (max-width: 400px) {
    .navbar ul li {
        padding: 0 .1rem;
    }
}