/* .navbar_container {
    position: relative;
} */

.navbar_container {
    flex: 1 1 35%;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    color: var(--link_color);
    padding: 0 1rem;
}

.navbar ul li a.active {
    color: var(--purple_color);
}

#darkmode {
    margin: 0 .5rem;
    cursor: pointer;
}

#icon_menu {
    display: none;
    margin-right: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #icon_menu {
        display: block;
    }

    .navbar_container {
        flex: 0;
    }

    .navbar {
        background-color: var(--white);
        position: absolute;
        top: 90px;
        left: 0;
        height: 100vh;
        width: 200px;
        z-index: 10;
        padding: 1rem 1.5rem;
        transform: translateX(-100%);
        transition: all .5s;
    }

    .navbar.show {
        transform: translateX(0);
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .navbar ul li {
        padding: 1rem 0;
    }
}